In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
df = pd.read_excel("data/2004.xls")
df.dropna(inplace=True)
df = df.set_index("Item", drop=True)
df.to_csv("./data/test_csv.csv", sep='\t')

In [50]:
def open_data(file_name):
    df = pd.read_excel(file_name)
    df.dropna(inplace=True)
    df = df.set_index("Item", drop=True)
    return df

In [51]:
data_path = "data/"
itr = 2004
dfs = []
while itr < 2012:
    file_name = data_path + str(itr) + ".xls"
    dfs.append(open_data(file_name))
    itr += 1
while itr < 2018:
    file_name = data_path + str(itr) + ".xlsx"
    dfs.append(open_data(file_name))
    itr += 1

In [52]:
btax = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
ageref = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
persons = pd.DataFrame(columns=["Year", "Item", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
under18 = pd.DataFrame(columns=["Year", "Item", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
food = pd.DataFrame(columns=["Year", "Food Expenditures"])
education = pd.DataFrame(columns=["Year", "Education Expenditures"])

In [53]:
itr = 2004
for df in dfs:
    btax = btax.append({ "Year": str(itr), "Los Angeles": df.iloc[1, 1], \
        "San Francisco": df.iloc[1, 2], "San Diego": df.iloc[1, 3], \
        "Seattle": df.iloc[1, 4], "Phoenix": df.iloc[1, 5] }, ignore_index=True)
    ageref = ageref.append({ "Year": str(itr), "Los Angeles": df.iloc[2, 1], \
        "San Francisco": df.iloc[2, 2], "San Diego": df.iloc[2, 3], \
        "Seattle": df.iloc[2, 4], "Phoenix": df.iloc[2, 5] }, ignore_index=True)
    persons = persons.append({ "Year": str(itr), "Item": "Persons", "Los Angeles": df.iloc[4, 1], \
        "San Francisco": df.iloc[4, 2], "San Diego": df.iloc[4, 3], \
        "Seattle": df.iloc[4, 4], "Phoenix": df.iloc[4, 5] }, ignore_index=True)
    under18 = under18.append({ "Year": str(itr), "Item": "Children under 18", "Los Angeles": df.iloc[5, 1], \
        "San Francisco": df.iloc[5, 2], "San Diego": df.iloc[5, 3], \
        "Seattle": df.iloc[5, 4], "Phoenix": df.iloc[5, 5] }, ignore_index=True)
    food = food.append({ "Year": str(itr), \
        "Food Expenditures": df.iloc[10, 0]}, ignore_index=True)
    education = education.append({ "Year": str(itr), \
        "Education Expenditures": df.iloc[38, 0]}, ignore_index=True)
    itr += 1
btax = btax.set_index("Year", drop=True)
ageref = ageref.set_index("Year", drop=True)
persons = persons.set_index("Year", drop=True)
under18 = under18.set_index("Year", drop=True)
food = food.set_index("Year", drop=True)
education = education.set_index("Year", drop=True)
education.head()

      Education Expenditures
Year
2004                  1039.0
2005                   937.0
2006                   894.0
2007                   937.0
2008                   960.0

In [55]:
education.to_csv("./data/education_west.csv", sep='\t')