In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_excel("data/2004.xls")
df.dropna(inplace=True)
df = df.set_index("Item", drop=True)
df.to_csv("./data/test_csv.csv", sep='\t')

In [5]:
def open_data(file_name):
    df = pd.read_excel(file_name)
    df.dropna(inplace=True)
    df = df.set_index("Item", drop=True)
    return df

In [6]:
data_path = "data/"
itr = 2004
dfs = []
while itr < 2012:
    file_name = data_path + str(itr) + ".xls"
    dfs.append(open_data(file_name))
    itr += 1
while itr < 2018:
    file_name = data_path + str(itr) + ".xlsx"
    dfs.append(open_data(file_name))
    itr += 1

In [22]:
btax = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
ageref = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
persons = pd.DataFrame(columns=["Year", "Item", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
under18 = pd.DataFrame(columns=["Year", "Item", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
food = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco"])
education = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco"])
alcohol = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])
average_expenditures = pd.DataFrame(columns=["Year", "Los Angeles", "San Francisco", "San Diego", "Seattle", "Phoenix"])

In [23]:
itr = 2004
for df in dfs:
    btax = btax.append({ "Year": str(itr), "Los Angeles": df.iloc[1, 1], \
        "San Francisco": df.iloc[1, 2], "San Diego": df.iloc[1, 3], \
        "Seattle": df.iloc[1, 4], "Phoenix": df.iloc[1, 5] }, ignore_index=True)
    ageref = ageref.append({ "Year": str(itr), "Los Angeles": df.iloc[2, 1], \
        "San Francisco": df.iloc[2, 2], "San Diego": df.iloc[2, 3], \
        "Seattle": df.iloc[2, 4], "Phoenix": df.iloc[2, 5] }, ignore_index=True)
    persons = persons.append({ "Year": str(itr), "Item": "Persons", "Los Angeles": df.iloc[4, 1], \
        "San Francisco": df.iloc[4, 2], "San Diego": df.iloc[4, 3], \
        "Seattle": df.iloc[4, 4], "Phoenix": df.iloc[4, 5] }, ignore_index=True)
    under18 = under18.append({ "Year": str(itr), "Item": "Children under 18", "Los Angeles": df.iloc[5, 1], \
        "San Francisco": df.iloc[5, 2], "San Diego": df.iloc[5, 3], \
        "Seattle": df.iloc[5, 4], "Phoenix": df.iloc[5, 5] }, ignore_index=True)
    food = food.append({ "Year": str(itr), \
        "Los Angeles": df.iloc[10, 1], "San Francisco": df.iloc[10, 2],\
        "San Diego": df.iloc[10, 3], "Seattle": df.iloc[10,4], "Phoenix": df.iloc[10,5]},\
        ignore_index=True)
    education = education.append({ "Year": str(itr), "Los Angeles": df.iloc[38, 1], \
        "San Francisco": df.iloc[38, 2],\
        "San Diego": df.iloc[38, 3], "Seattle": df.iloc[38,4], "Phoenix": df.iloc[38,5]},\
        ignore_index=True)
    alcohol = alcohol.append({ "Year": str(itr), \
        "Los Angeles": df.iloc[18, 1], "San Francisco": df.iloc[18, 2],\
        "San Diego": df.iloc[18, 3], "Seattle": df.iloc[18,4], "Phoenix": df.iloc[18,5]},\
        ignore_index=True)
    average_expenditures = average_expenditures.append({ "Year": str(itr),\
        "Los Angeles": df.iloc[9, 1],\
        "San Francisco": df.iloc[9, 2],\
        "San Diego": df.iloc[9, 3], "Seattle": df.iloc[9,4], "Phoenix": df.iloc[9,5]},\
        ignore_index=True)
    itr += 1
btax = btax.set_index("Year", drop=True)
ageref = ageref.set_index("Year", drop=True)
persons = persons.set_index("Year", drop=True)
under18 = under18.set_index("Year", drop=True)
food = food.set_index("Year", drop=True)
education = education.set_index("Year", drop=True)
alcohol = alcohol.set_index("Year", drop=True)
average_expenditures = average_expenditures.set_index("Year", drop=True)
alcohol.head()

      Los Angeles  San Francisco  San Diego  Seattle  Phoenix
Year
2004        485.0          628.0      613.0    526.0    781.0
2005        475.0          757.0      755.0    752.0    693.0
2006        543.0          888.0      520.0    570.0    645.0
2007        475.0          757.0      755.0    752.0    693.0
2008        504.0          714.0      647.0    839.0    503.0

In [24]:
alcohol.to_csv("./data/alcohol_west.csv", sep='\t')