In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
def open_data(file_name):
    df = pd.read_excel(file_name)
    df.dropna(inplace=True)
    df = df.set_index("Item", drop=True)
    return df

In [16]:
data_path = "data/"
itr = 2004
dfs = []
while itr < 2012:
    file_name = data_path + "ne_" + str(itr) + ".xls"
    dfs.append(open_data(file_name))
    itr += 1
while itr < 2018:
    file_name = data_path + "ne_" + str(itr) + ".xlsx"
    dfs.append(open_data(file_name))
    itr += 1

In [17]:
btax = pd.DataFrame(columns=["Year", "New York", "Philadelphia"])
food = pd.DataFrame(columns=["Year", "Food Expenditures"])

In [18]:
itr = 2004
for df in dfs:
    btax = btax.append({ "Year": str(itr), "New York": df.iloc[1, 1], "Philadelphia": df.iloc[1, 2] }, ignore_index=True)
    food = food.append({ "Year": str(itr), \
        "Food Expenditures": df.iloc[10, 0]}, ignore_index=True)
    itr += 1
btax = btax.set_index("Year", drop=True)
food = food.set_index("Year", drop=True)

food.head()

      Food Expenditures
Year
2004             6430.0
2005             6357.0
2006             6320.0
2007             6688.0
2008             6967.0

In [19]:
food.to_csv("./data/food_ne.csv", sep='\t')