In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def open_data(file_name):
    df = pd.read_excel(file_name)
    df.dropna(inplace=True)
    df = df.set_index("Item", drop=True)
    return df

In [3]:
data_path = "data/"
itr = 2004
dfs = []
while itr < 2012:
    file_name = data_path + "ne_" + str(itr) + ".xls"
    dfs.append(open_data(file_name))
    itr += 1
while itr < 2018:
    file_name = data_path + "ne_" + str(itr) + ".xlsx"
    dfs.append(open_data(file_name))
    itr += 1

In [10]:
btax = pd.DataFrame(columns=["Year", "New York", "Philadelphia"])
food = pd.DataFrame(columns=["Year", "New York", "Philadelphia"])
education = pd.DataFrame(columns=["Year", "Education Expenditures"])
alcohol = pd.DataFrame(columns=["Year", "New York", "Philadelphia"])
average_expenditures = pd.DataFrame(columns=["Year", "New York", "Philadelphia"])

In [11]:
itr = 2004
for df in dfs:
    btax = btax.append({ "Year": str(itr), "New York": df.iloc[1, 1], "Philadelphia": df.iloc[1, 2] }, ignore_index=True)
    food = food.append({ "Year": str(itr), \
        "New York": df.iloc[10, 1], "Philadelphia": df.iloc[10, 2]}, ignore_index=True)
    education = education.append({ "Year": str(itr),\
        "New York": df.iloc[38, 1],\
        "Philadelphia": df.iloc[38, 2] }, ignore_index=True)
    alcohol = alcohol.append({ "Year": str(itr), \
        "New York": df.iloc[18, 1], "Philadelphia": df.iloc[18, 2]}, ignore_index=True)
    average_expenditures = average_expenditures.append({ "Year": str(itr), \
        "New York": df.iloc[9, 1], "Philadelphia": df.iloc[9, 2]}, ignore_index=True)
    itr += 1
btax = btax.set_index("Year", drop=True)
food = food.set_index("Year", drop=True)
education = education.set_index("Year", drop=True)
alcohol = alcohol.set_index("Year", drop=True)
average_expenditures = average_expenditures.set_index("Year", drop=True)
average_expenditures.head()

      New York  Philadelphia
Year
2004   54121.0       47289.0
2005   55137.0       45922.0
2006   56683.0       48649.0
2007   59185.0       55706.0
2008   60273.0       56790.0

In [12]:
average_expenditures.to_csv("./data/average_expenditures_northeast.csv", sep='\t')